# Video / dataset / model output - file nang, khong commit vao git
*.pdf
*.mp4
*.mov
*.zip
*.ply
*.splat

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
